<app-navbar2></app-navbar2>

<section class="container m-5">
    <div class="d-flex justify-content-center align-items-center container-fluid mb-5">
        <h1 class="h1">Formulario Productos</h1>
    </div>
    <form class="row g-3">
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Nombre">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Precio">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Describcion">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Estilo">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Casa cervezera">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Color">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Grado de alcohol">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Pais de origen">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Presentacion">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="IBU">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Disponible">
        </div>
        <div class="mb-3 col-4">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Categoria">
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button type="submit" class="btn btn-primary">Juan es peye</button>
    </form>
</section>

<app-footer></app-footer>
