<app-navbar2></app-navbar2>

<section class=" fuenteTitulos fw-bold backgroungLogin paddigLogin">
    <div class="posicionContenido">
        <h1>Iniciar sesión</h1>

    <form class="row g-3 d-flex flex-column ">
        <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btnInicioSesion text-white">Sign in</button>
        </div>
    </form>
    </div>
</section>

<app-footer></app-footer>
