<app-navbar2></app-navbar2>
<section class="container mt-5 separacionFooter fuenteTextos">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="w-75" src="assets/img/AC-DC-Cerveza.png" alt="">
        </div>

        <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="h-25 d-inline-block">
                <h3 class="fw-bold">AC-DC-Cerveza</h3>
                <p class="fw-bold fs-3">$10000</p>
                <p>Cerveza Artesanal Alameda Garabato tipo Mosaic Pilsner. Cerveza Rubia, cristalina y con buena espuma. Cuerpo medio a bajo, ﬁnal seco y refrescante con aroma medio a lúpulos tropicales como maracuyá. Amargor bajo. Maridaje: Pollos, ensaladas, salmón, queso mozzarella, queso fresco de cabra o similar. Cerveza que hace énfasis en la cultura de Cali, Colombia resaltando el barrio Alameda; un barrio popular que tiene muchas historias y por lo tanto le hacen homenaje.</p>
            </div>
            <div class="d-flex flex-direction-row align-items-center h-25 d-inline-block">
                <div class="btn-group w-25 me-2" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary">-</button>
                    <button type="button" class="btn btn-outline-primary">1</button>
                    <button type="button" class="btn btn-outline-primary">+</button>
                </div>
                <div>
                    <button type="button" class="btn fuenteBotones colorbotones w-100 text-white ">AÑADIR AL CARRITO</button>
                </div>
            </div>
            <div>
                <h3 class="fw-bold" >INFORMACION ADICIONAL</h3>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Foto</th>
                <th scope="col">Producto</th>
                <th scope="col">precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">X</th>
                <td>img</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">X</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">X</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>