<section class="container mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="w-75" src="assets/img/AC-DC-Cerveza.png" alt="">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="h-25 d-inline-block">
                <h3 class="border-bottom border-warning">AC-DC-Cerveza</h3>
                <p class="fw-bold fs-4">$10.000</p>
                <p>Cerveza Artesanal Alameda Garabato tipo Mosaic Pilsner. Cerveza Rubia, cristalina y con buena espuma. Cuerpo medio a bajo, ﬁnal seco y refrescante con aroma medio a lúpulos tropicales como maracuyá. Amargor bajo. Maridaje: Pollos, ensaladas, salmón, queso mozzarella, queso fresco de cabra o similar. Cerveza que hace énfasis en la cultura de Cali, Colombia resaltando el barrio Alameda; un barrio popular que tiene muchas historias y por lo tanto le hacen homenaje.</p>
            </div>
            <div class="d-flex flex-direction-row align-items-center h-25 d-inline-block">
                <div class="btn-group w-25 me-2" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-dark">-</button>
                    <button type="button" class="btn btn-outline-dark">1</button>
                    <button type="button" class="btn btn-outline-dark">+</button>
                </div>
                <div>
                    <button type="button" class="btn bg-black  btn-dark w-100 ">AÑADIR AL CARRITO</button>
                </div>
            </div>
            <div>
                <h3>INFORMACION ADICIONAL</h3>
                <table class="table table-striped mt-3 border-top">
                    <tbody>
                        <tr>
                            <th class="w-25">Casa Cervecera</th>
                            <td class="text-warning">Alameda</td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td class="text-warning">Dorado</td>
                        </tr>
                        <tr>
                            <th>Grado de Alcohol</th>
                            <td class="text-warning">5%</td>
                        </tr>
                        <tr>
                            <th>País de Origen</th>
                            <td class="text-warning">Alemania</td>
                        </tr>
                        <tr>
                            <th>Presentación</th>
                            <td class="text-warning">600 Ml</td>
                        </tr>
                        <tr>
                            <th>IBU</th>
                            <td class="text-warning">21</td>
                        </tr>
                        <tr>
                            <th>Estilo</th>
                            <td class="text-warning">Pilsner</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
