<app-navbar2></app-navbar2>

<section class="">
    <div class="d-flex justify-content-between aling-items-center p-5 backgroundUsuarios  ">
        <h1 class="posicionTitulo fw-bold ">Tabla de Productos</h1>
        <button type="button" class=" posicionTitulo btn btn-success fuenteBotones" >Nuevo Usuario</button>
    </div>
    
    <table class="table container mt-5">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">12314123</th>
                <td>Poker 1L</td>
                <td>Cerveza</td>
                <td>5</td>
                <td>
                    <div class="d-flex fuenteBotones">
                        <button type="button" class="btn btnEditar btn-sm  text-white me-5">Actualizar</button>
                        <button type="button" class="btn btnEliminar btn-sm  text-white  me-5">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<app-footer></app-footer>
