<section>
    <nav class="navbar navbar-expand-lg BackgroundNav text-white ">
        <div class="container">
            <a class="navbar-brand" href="#"> <img class="w-75" src="assets/img/logoBlanco.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center aling-items-center">

                    <li class="nav-item">
                        <a class="nav-link fuenteLinks fw-bold ms-5 text-white"
                            routerLink="/RegistrarUsuario">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link fuenteLinks fw-bold ms-5 text-white" routerLink="/Login">Iniciar
                            sesión </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-5 colorItemsNav fuenteLinks fw-bold" href="#"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tienda
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Cervezas</a></li>
                            <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Packs</a></li>
                            <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Accesorios</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <i class=" ms-5 fa-brands fa-facebook fa-2xl text-white"></i>
                    </li>
                    <li class="nav-item">
                        <i class=" ms-5 fa-brands fa-twitter fa-2xl text-white"></i>
                    </li>
                    <li class="nav-item">
                        <i class=" ms-5 fa-brands fa-square-instagram fa-2xl text-white"></i>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</section>

<section >
    <nav class="navbar navbar-expand-lg BackgroundNav text-white" >
        <div class="container">
            <a class="navbar-brand" href="#"> <img class="h-25" src="assets/img/logoBlanco.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center aling-items-center">

                    <li class="nav-item">
                        <a class="nav-link fuenteLinks fw-bold ms-5 text-white"
                            routerLink="/RegistrarUsuario">Cervezas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fuenteLinks fw-bold ms-5 text-white"
                            routerLink="/RegistrarUsuario">Packs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fuenteLinks fw-bold ms-5 text-white"
                            routerLink="/RegistrarUsuario">Accesorios</a>
                    </li>
                    
                    <li class="nav-item dropdown d-flex">
                        <div>
                            <a class="nav-link dropdown-toggle ms-5 colorItemsNav fuenteLinks fw-bold" href="#"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Borrachin
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Ver perfil</a></li>
                                <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Editar Perfil</a></li>
                                <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Comprar ahora</a></li>
                            </ul>
                        </div>
                        <div>
                            <img src="assets/img/fotoPerfil.png" class="w-25 rounded-circle" alt="">
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</section>

<section>
    <nav class="navbar navbar-expand-lg BackgroundNav text-white ">
        <div class="container">
            <a class="navbar-brand" href="#"> <img class="h-25" src="assets/img/logoBlanco.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center aling-items-center">
                    <li class="nav-item">
                        <a class="nav-link nav-link fuenteLinks fw-bold ms-5 text-white" routerLink="/">Lista de Productos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link fuenteLinks fw-bold ms-5 text-white" routerLink="/ListadoUsuarios">Lista de Usuarios  </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-5 colorItemsNav fuenteLinks fw-bold" href="#"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tienda
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Cervezas</a></li>
                            <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Packs</a></li>
                            <li><a class="dropdown-item  fuenteLinks fw-bold" href="#">Accesorios</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>