<section id="formCheckout" class="mt-5 mb-5 container">
    <div class="row">
        <div id="formu" class="col-sm-12 col-lg-6">
            <form>
                <h1>Detalle de Facturación</h1>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido">
                </div>
                <div class="mb-3">
                    <label for="Pais" class="form-label">Pais/Region</label>
                    <input type="text" class="form-control" id="pais">
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccion">
                </div>
                <div class="mb-3">
                    <label for="departamento" class="form-label">Departamento</label>
                    <input type="text" class="form-control" id="departamento">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="number" class="form-control" id="telefono">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>

                <div class="mb-3">
                    <label for="identificacion" class="form-label">Identificación</label>
                    <input type="number" class="form-control" id="identificacion">
                </div>
            </form>
        </div>

        <div id="subtotal" class="col-sm-12 col-lg-5 border offset-1">
            <h3 class="border-bottom bg-light">TU PEDIDO</h3>
            <div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="">Subtotal</th>
                            <td class="fw-bold">$10000</td>
                        </tr>
                        <tr>
                            <th scope="row">Envio</th>
                            <td>
                        <tr>Precio: <span class="fw-bold">$10000</span></tr>
                        <tr>ciudad: <span class="fw-bold">Bogota</span></tr>
                        <tr>Cambiar Direccion</tr>
                        </td>
                        </tr>
                        <tr>
                            <th scope="row" class="fs-4">Total</th>
                            <td class="fw-bold fs-4">$45.000</td>
                        </tr>
                    </tbody>
                    <div>
                        <div class="mt-2">
                            <p>
                                El tiempo de entrega para la ciudad de Cali es de 24 a 48 horas hábiles y para otras ciudades es de 2 a 5 días hábiles luego de haber sido procesado.
                            </p>
                        </div>
                        <div>
                            <p>
                                Pagos en linea PayU Latinoamérica
                            </p>
                        </div>
                        <div>
                            <img src="assets/img/logoPayU.png" alt="">
                        </div>
                        <div>
                            <p>
                                Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web y otros propósitos descritos en nuestra política de privacidad.
                            </p>
                        </div>
                        <div class="mt-3 col d-flex flex-direction-row">
                            <button type="button" class="btn bg-black  btn-dark col-8">FINALIZAR COMPRA</button>
                        </div>
                        <div class="mt-3 col d-flex flex-direction-row">
                            <button type="button" class="btn bg-black  btn-dark col-8" routerLink="/carrito">VOLVER AL CARRITO</button>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>
</section>